src/main/resources/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ebank.com/ebanking2/soap"
           targetNamespace="http://ebank.com/ebanking2/soap"
           elementFormDefault="qualified">

    <!-- Common Service Status Type -->
    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Common Account Information Type -->
    <xs:complexType name="CompteSoapInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="clientId" type="xs:long" minOccurs="0"/>
            <xs:element name="rib" type="xs:string" minOccurs="0"/>
            <xs:element name="solde" type="xs:double" minOccurs="0"/>
            <xs:element name="status" type="xs:string" minOccurs="0"/>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
            <xs:element name="autorisePaiementEnLigne" type="xs:boolean" minOccurs="0"/>
            <xs:element name="tauxInterets" type="xs:double" minOccurs="0"/>
            <xs:element name="balanceQ1" type="xs:double" minOccurs="0"/>
            <xs:element name="balanceQ2" type="xs:double" minOccurs="0"/>
            <xs:element name="interests" type="xs:double" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Account Statement Information Type -->
    <xs:complexType name="AccountStatementInfo">
        <xs:sequence>
            <xs:element name="compte" type="tns:CompteSoapInfo"/>
            <xs:element name="startDate" type="xs:string"/>
            <xs:element name="endDate" type="xs:string"/>
            <xs:element name="openingBalance" type="xs:double"/>
            <xs:element name="closingBalance" type="xs:double"/>
            <xs:element name="transactionCount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Account Summary Information Type -->
    <xs:complexType name="AccountSummaryInfo">
        <xs:sequence>
            <xs:element name="totalAccounts" type="xs:int"/>
            <xs:element name="totalBalance" type="xs:double"/>
            <xs:element name="activeAccounts" type="xs:int"/>
            <xs:element name="blockedAccounts" type="xs:int"/>
            <xs:element name="ccourantCount" type="xs:int"/>
            <xs:element name="cepargneCount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
